body {
  background-color: #282a35;
}

.Wrapper {
  width: 100%;
  height: 500px;
}

#DebugLabel {
  font-family: 'Mouse Memoirs', sans-serif;
  font-size: 30px;
  text-align: center;
  display: block;
  margin-bottom: 10px;
}

#DebugArea {
  font-size: .8rem;
  letter-spacing: 0.5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  line-height: 1.5;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
}

.IntroduceText {
  font-family: 'Mouse Memoirs', sans-serif;
  font-size: 30px;
  text-align: center;
  color: #FFFFFF;
}

.MainButtons {
  margin: auto;
  width: 60%;
  height: 80%;
}

.button-48 {
  appearance: none;
  background-color: #808080;
  border-width: 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: block;
  font-family: Clarkson, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  opacity: 1;
  outline: 0;
  margin: auto;
  margin-top: 5%;
  padding: 2em 5em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-48:before {
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: #EBEBEB;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
}

.button-48:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-48:after {
  background-color: #FFFFFF;
}

.button-48 span {
  z-index: 1;
  position: relative;
}

.PlayerStats {
  vertical-align: top;
  display: inline-block;
  margin-left: 15%;
  width: 40%;
  height: 80%;
}

.PlayerStats p {
  margin-left: 25%;
  font-family: 'Mouse Memoirs', sans-serif;
  font-size: 25px;
  color: #FFFFFF;
}

.PlayerAvatar {
  vertical-align: top;
  display: inline-block;
  width: 30%;
  height: 80%; 
}

.PlayerAvatar p {
  padding-top: 10%;
  text-align: center;
}

.startButton {
	box-shadow: 0px 15px 0px 0px #d13434;
	background-color:#d11f2e;
	border-radius:22px;
	border:3px solid #8c4545;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: 'Mouse Memoirs', sans-serif;
	font-size: 20px;
	padding: 22px 37px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #2f6627;
}
.startButton:hover {
	background-color:#e80e1c;
}
.startButton:active {
	position:relative;
	top:1px;
}

.start {
  padding-top: 5%;
  width: 40%;
  margin: auto;
  text-align: center;
}